<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clean Blog</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendor/bootstrap/css/bootstrap.min.css")" />

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/clean-blog.min.css")" />

    <!-- Editor -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/react-draft-wysiwyg.css")" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendor/font-awesome/css/font-awesome.min.css")" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleBlog</title>-->
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>

</head>
<body>
    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <!---->

    <script src='@Url.Content("~/Content/vendor/jquery/jquery.min.js")'></script>
    <script src='@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/Legacy/clean-blog.min.js")'></script>

    @RenderSection("scripts", required: false)
</body>
</html>
